@media only screen and(min-device-width : 768px) and (max-device-width : 1024px)
	body
		.navbar-fixed-top
			position: static !important
		nav
			height: 400px !important
			margin: 0 !important
			.container
				a
					font-size: 3em
					float: none !important
					display: block
					background-color: $navColor
				a:first-child
					font-size: 3em !important
					float: none !important
		.footer
			height: 1300px !important
			margin-bottom: 0
			div
				margin: 50px 0
				h2
					font-size: 3.5em !important
					margin-bottom: 40px
				.around
					margin-left: 15px !important
				p
					font-size: 3em !important
				.icons
					font-size: 3em !important
					i
						height: 120px !important
						width: 120px !important
						margin: 0 30px !important
					.fa-facebook
						padding: 19px 6px 0 0 !important
					.fa-twitter
						padding: 20px 0px 0 1px !important
					.fa-google-plus
						padding: 20px 0px 0 2px !important
					.fa-behance
						padding: 20px 0px 0 1px !important
					.fa-vk
						padding: 14px 3px 0 0px !important
		.copyright
			height: 60px !important
			padding: 30px 0 70px 0 !important
			margin-bottom: 0
			margin-top: -1px
			font-size: 2em !important