$greyColor: #333333
$navColor: #2C3E50

@media only screen and(min-device-width: 320px) and (max-device-width: 568px)
	.container
		margin: 0 auto;
		width: 100%;
	body
		margin: 0 auto !important
		.navbar-fixed-top
			position: static !important
		nav
			height: 400px !important
			margin: 0 !important
			.container
				a
					font-size: 3em
					float: none !important
					display: block
					background-color: $navColor
				a:first-child
					font-size: 3em !important
					float: none !important
		.jumbotron
			height: 800px !important
			.container
				h1
					font-size: 4.5em !important
				img
					width: 400px
					margin: -20px auto 0 auto !important
				p
					font-size: 4em !important
		.row
			.six-images
				h1
					font-size: 4.5em !important
		.about-block
			height: 1280px !important
			.container
				.about
					font-size: 5.5em !important
				.paragraph
					text-align: left !important
					width: 100%
					margin: 20px 0 20px 10px
					font-size: 2.3em !important
			.download
				font-size: 3em !important
				padding: 20px 40px !important
		.contact
			font-size: 4.5em !important
		.input
			input
				height: 120px !important
				font-size: 3em !important
			textarea
				height: 130px
				padding-top: 15px
			.btn-success
				margin: 40px 0
				padding: 10px 20px
				font-size: 3em !important
		.footer
			height: 1300px !important
			margin-bottom: 0
			div
				margin: 50px 0
				h2
					font-size: 4.5em !important
					margin-bottom: 50px
				.around
					margin-left: 15px !important
				p
					font-size: 3em !important
				.icons
					font-size: 3em !important
					i
						height: 120px !important
						width: 120px !important
						margin: 0 30px !important
					.fa-facebook
						padding: 19px 6px 0 0 !important
					.fa-twitter
						padding: 20px 0px 0 1px !important
					.fa-google-plus
						padding: 20px 0px 0 2px !important
					.fa-behance
						padding: 20px 0px 0 1px !important
					.fa-vk
						padding: 14px 3px 0 0px !important
		.copyright
			height: 60px !important
			padding: 30px 0 70px 0 !important
			margin-bottom: 0
			margin-top: -1px
			font-size: 2em !important