include include/mixins

doctype html
html
	head
		title Homework_7
		block css
			+styles('./vendor/css/font-awesome.min.css', './vendor/css/bootstrap.min.css', './vendor/css/animate.css', './vendor/css/hover-min.css', './css/style.css')
	body
		block content