extends _template
block content
	include include/nav
	include include/startB
	include include/portfolio
	include include/about
	include include/contact
	include include/footer
	+scripts('./vendor/js/in-view.min.js', './vendor/js/bootstrap.min.js', './script/main.js')