div.jumbotron.about-block
	div.container
		h1.animated.mov.about about
		div.portfolio-star
			svg.white-star.about-star(width="250px" height="4px" viewBox="0 0 250 4")
				rect(rect x="0" y="0" width="95" height="4")
				rect(rect x="155" y="0" width="95" height="4")
			i.fa.fa-star.fa-3x(aria-hidden="true")
		div.col-xs-12.col-sm-6.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		div.col-xs-12.col-sm-6.col-md-5.col-lg-5.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	a.btn.btn-default.download.hvr-buzz-out(href="./images/img_profile.png" download)
		i.fa.fa-download.fa-lg(aria-hidden="true")
		|	Download Theme