div.row
	div.container
		h1.col-xs-12.col-sm-12.col-md-12.col-lg-12.animated.mov.contact contact me
		div.portfolio-star
			svg.grey-star(width="250px" height="4px" viewBox="0 0 250 4")
				rect(rect x="0" y="0" width="95" height="4")
				rect(rect x="155" y="0" width="95" height="4")
			i.fa.fa-star.fa-2x(aria-hidden="true")
div.container.input
	input.form-control(type="name" placeholder="Name")
	input.form-control(type="email" placeholder="Email Address")
	input.form-control(type="tel" placeholder="Phone Number")
	textarea.form-control(type="text" placeholder="Message" rows="4")
	button.btn.btn-success.hvr-buzz-out(type="submit") Send