nav.navbar.navbar-default.navbar-fixed-top
	div.container
		a.hvr-underline-from-left(href="#") start bootstrap
		a.hvr-underline-from-left(href="#") portfolio
		a.hvr-underline-from-left(href="#") about
		a.hvr-underline-from-left(href="#") contact