div.row
	div.container.six-images
		h1.col-xs-12.col-sm-12.col-md-12.col-lg-12 portfolio
		div.portfolio-star
			svg.grey-star(width="250px" height="4px" viewBox="0 0 250 4")
				rect(rect x="0" y="0" width="95" height="4")
				rect(rect x="155" y="0" width="95" height="4")
			i.fa.fa-star.fa-2x(aria-hidden="true")
		+image("#", "./images/portfolio_cabin.png", "./images/portfolio_cake.png", "./images/portfolio_circus.png", "./images/portfolio_game.png", "./images/portfolio_safe.png", "./images/portfolio_submarine.png")