div.jumbotron
	div.container.animated.bounce
		img(src="./images/img_profile.png")
		h1 start bootstrap
		svg.white-star(width="250px" height="4px" viewBox="0 0 250 4")
			rect(rect x="0" y="0" width="95" height="4")
			rect(rect x="155" y="0" width="95" height="4")
		i.fa.fa-star.fa-3x(aria-hidden="true")
		p Web Developer - Graphic Artist - User Experiense Designer
